<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <suite-files>
   <suite-file path="build/testng_CommonPage.xml"></suite-file>
   <suite-file path="build/testng_HomePage.xml"></suite-file>
 <suite-file path="build/testng_LoginPage.xml"></suite-file>
 <suite-file path="build/testng_CarsPage.xml"></suite-file>
 <suite-file path="build/testng_PackagePage.xml"></suite-file>
  </suite-files>
</suite> <!-- Suite -->
